.link {
    color: white;
    text-decoration: none;
}

.link_admin{
    color: black;
    text-decoration: none;
}

.cart_item{
    font-family: Roboto;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    right: 50px;
}